.middle {
    position: relative;
    box-sizing: border-box;
    width: 780px;
    height: 380px;
    padding: 32px 24px 0px 24px;
    background-color: #1B232C;
    transition: 0.5s all;
}

.db {
    display: none;
}
.middle:hover {
    transform: scale(1.025);
}

.title {
    font-family: 'Roboto';
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.block_timer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini_img {
    width: 120px;
    height: 120px;
}
.mini-text {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    font-family: 'Jost';
    font-weight: 700;
}
.timer {
    padding: 8px 0 0 0;
    width: 244px;
    height: 66px;
    background-color: rgba(204, 18, 45, 0.3);
    color: #fff;
    font-family: 'Jost';
    font-weight: 700;
    text-align: center;
    line-height: 58px;
    font-size: 40px;
}

.block_bet {
    margin-top: 32px;
    width: 97%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descr_title {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Jost';
    text-transform: uppercase;
    font-weight: 700;
}

.descr_subtitle {
    font-family: 'Jost';
    font-size: 16px;
    color: #A5ACB8;
    font-weight: 400;
}

.wrap_btns_bet {
    margin-right: 35px;
    padding-top: 5px;
    width: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrap_btns {
    display: flex;
    justify-content: space-around;
}


.wrap_btns_btn {
    cursor: pointer;
    background-color: #394552;
    border: 3px solid #fff;
    width: 49px;
    height: 22px;
    border-radius: 27px;
    font-family: 'Jost';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
}

.active {
    background-color: #27AF11;
}

.wrap_text {
    display: flex;
    justify-content: space-around;
    margin-top: 4px;
    width: 100%;
}
.wrap_text_elem {
    font-family: 'Jost';
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #A5ACB8;
}

.block_bet_btn {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px;
    background-color: #CC122D;
    width: 179px;
    height: 48px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
}

.middle_btn { 
    position: absolute;
    transition: 0.5s all;
    bottom: 0;
    left: 0;
    margin-top: 32px;
    font-family: 'Jost';
    width: 780px;
    height: 52px;
    background: linear-gradient(0deg, #9D9E9F -5%, #C4C7C9 71.21%, #A0A2A4 108.08%);
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #2C2C2C;
    cursor: pointer;
    border: none;
}

.polygon {
    margin-left: 16px;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #27AF11;
}

.polygon_img  {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
}

@media  (max-width: 1800px){
    .middle {
        width: 600px;
        padding: 20px 10px 0px 10px;  
    }
    .block_bet {
        width: 100%;
    }

    .descr_title {
        font-size: 18px;
        line-height: 25px;
    }

    .wrap_btns_bet {
        margin-right: 0;
    }

    .mini-text {
        font-size: 23px;
        line-height: 30px;
    }

    .middle_btn {
        width: 600px;
    }

}

@media (max-width: 1472px) {
    .middle {
        margin-top: 30px;
        width: 780px;
        padding: 32px 24px 0px 24px;
        order: 1;
    }
    .block_bet {
        width: 97%;
    }

    .descr_title {
        font-size: 24px;
        line-height: 32px;
    }

    .wrap_btns_bet {
        margin-right: 35px;
    }

    .mini-text {
        font-size: 23px;
        line-height: 30px;
    }

    .middle_btn {
        width: 780px;
    }
}

@media (max-width: 992px) {
    .middle {
        width: 600px;
        padding: 20px 10px 0px 10px;  
    }
    .block_bet {
        width: 100%;
    }

    .timer {
        width: 220px;
        font-size: 33px;
        line-height: 55px;
    }

    .descr_title {
        font-size: 18px;
        line-height: 25px;
    }

    .wrap_btns_bet {
        margin-right: 0;
    }

    .mini-text {
        font-size: 23px;
        line-height: 30px;
    }

    .middle_btn {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .middle {
        width: 480px;
        padding: 20px 5px 0px 5px;
    }
    .middle:hover {
        transform: none;
    }
    .timer {
        width: 170px;
        height: 50px;
        font-size: 27px;
        line-height: 42px;
    }

    .mini-text {
        font-size: 17px;
        line-height: 21px;
    }

    .block_bet {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
    }
    .descr {
        order: 1;
    }
    .wrap_btns_bet {
        display: block;
        margin: 0 auto;
        margin-top: 16px;
        order: 3;
    }
    .block_bet_btn {
        width: 170px;
        order: 2
    }
    .descr_title {
        font-size: 16px;
        line-height: 22px;
    }    
    .middle_btn {
        width: 480px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .middle {
        margin-top: 0;
        height: 316px;
        width: 343px;
        padding: 0px 12px 0px 12px;
    }
    
    .middle_btn {
        margin-top: 16px;
        width: 343px;
        height: 40px;
        font-size: 14px;
        line-height: 23px;
    }
    .polygon {
        width: 24px;
        height: 24px;
    }
    .polygon_img {
        left: 9px;
        width: 9px;
        height: 9px;
    }
    .title {
        margin-top: 24px;
        font-size: 14px;
        line-height: 18px;
    }

    .block_timer {
        margin-top: 8px;
    }
    .timer {
        width: 115px;
        height: 48px;
        font-size: 19px;
        line-height: 37px;
        text-transform: uppercase;
    }
    .mini_img {
        width: 64px;
        height: 64px;
    }
    .mini-text {
        font-size: 12px;
        line-height: 14px;
    }
    .block_bet_btn {
        width: 114px;
        height: 40px;
    }
    .descr_title {
        font-size: 15px;
        line-height: 22px;
    }
    .descr_subtitle {
        font-size: 14px;
        line-height: 18px;
    }
    .block_bet_btn-text {
        display: none;
    }
    .db {
        display: block;
        font-size: 14px;
        line-height: 18px;
        margin-left: 7px;
    }
    .wrap_text_elem {
        line-height: 15px;
    }


} 