.container {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #707070;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: solid 2px #9C9C9C;
    border-radius: 3px;
} 

.container:hover input ~ .checkmark {
    border: solid 2px #E4163A;
}

.container input:checked ~ .checkmark {
    background-color: #E4163A;
    border: solid 2px #E4163A;
}

.container input:disabled ~ .checkmark {
    background-color: #F6F6F6;
    border: solid 2px #D1D1D1;
}

.container input:disabled:checked ~ .checkmark {
    background-color: #D1D1D1;
    border: solid 2px #D1D1D1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container input:not(:checked) ~ .checkErrorMessage {
    display: none;
}
  
.container .checkmark:after {
    left: 3.5px;
    top: 0.5px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.checkErrorMessage {
    display: none;
    position: absolute;
    bottom: -16px;
    left: 0px;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 12px;
    color: #FF768E;
}