.promo {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    padding: 80px 100px 140px 100px;
    background: url("./coming_match.png") no-repeat 80%/cover ;
    min-height: 600px;
}



.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1600px) {
    .promo {
        padding: 80px 50px 140px 50px;
    }
}


@media (max-width: 1472px) {
    .promo {
        display: flex;
        background: url("./coming_match.png") no-repeat 60%/cover;
        
        
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: 992px) {
    .promo {
        padding: 80px 30px 100px 30px;
    }
}

@media (max-width: 768px) {
    .promo {
        padding: 50px 20px 70px 20px;
    }
}


@media (min-width: 376px) and (max-width: 576px) {
    .promo {
        position: relative;
        overflow-x: scroll;
        display: flex;
        width: 576px;
        background: url("./banner_mobile.png") no-repeat , #0D1116;
        background-size: 100% 60%;
        padding: 70px 16px 0px 75px;
    }
    
    .promo::-webkit-scrollbar {
        width: 430px;
        height: 4px;
    }
    .promo::-webkit-scrollbar-thumb {
        background: #1B232C; 
    }
    .promo::-webkit-scrollbar-track {
        background:  #5C6168;
    }


    .container {
        width: 1800px;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 320px) and (max-width: 376px) {
    .promo {
        overflow-x: scroll;
        display: flex;
        width: 376px;
        padding: 70px 16px 0px 16px;
        background: url("./banner_mobile.png") no-repeat , #0D1116;
    }
    .promo::-webkit-scrollbar {
        width: 376px;
        height: 4px;
    }
    .promo::-webkit-scrollbar-thumb {
        background: #1B232C; 
    }
    .promo::-webkit-scrollbar-track {
        background:  #5C6168;
    }
    .container {
        width: 1600px;
        display: flex;
        flex-direction: row;
    }
}
